username =
password =
secret =

NETBOX_URL   =
NETBOX_TOKEN =

NETMIKO_DEVICE_TYPE=
DISCOVERY_WORKERS=
DRY_RUN =

FALLBACK_NETBOX_DEVICE_TYPE_SLUG=
FALLBACK_DEVICE_ROLE=

# DNAC / Catalyst Center
DNAC_BASE_URL=
DNAC_USERNAME=
DNAC_PASSWORD=
DNAC_VERIFY_SSL=false
DNAC_PAGE_SIZE=500
